:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-content {
  flex-grow: 1;
}

.side-drawer {
  padding: 30px;
}

.news-img {
  width: 100px;
}

.side-drawer-header {
  background: url(../assets/images/news.png) top no-repeat;
  background-size: contain;
  padding-top: 100px;
}